body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,blueviolet,pink);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer; 

}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.delete {
    color: red;
    cursor: pointer;
}

#tasklist{
    color: black;
}